<section class="gallery">
	<div class="gallery__container container">
		<ul class="gallery__list js-gallery">

<!-- <li class="gallery__item item-gallery">
	<img class="item-gallery__img" src="../img/img.jpg" alt="img">
	<ul class="item-gallery__data">
		<li class="item-gallery__data-item">
			<h2 class="item-gallery__subtitle">Likes</h2>
			<p class="item-gallery__counter">1813</p>
		</li>
		<li class="item-gallery__data-item">
			<h2 class="item-gallery__subtitle">Views</h2>
			<p class="item-gallery__counter">8700800</p>
		</li>
		<li class="item-gallery__data-item">
			<h2 class="item-gallery__subtitle">Comments</h2>
			<p class="item-gallery__counter">14</p>
		</li>
		<li class="item-gallery__data-item">
			<h2 class="item-gallery__subtitle">Downloads</h2>
			<p class="item-gallery__counter">85</p>
		</li>
	</ul>
</li> -->

		</u>
	</div>
</section>